.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.flex-center-center {
  justify-content: center;
  align-items: center;
}
.flex-between-center {
  justify-content: space-between;
  align-items: center;
}
.justify-around {
  justify-content: space-around;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.pointer {
  cursor: pointer;
}
.text-underline {
  text-decoration: underline;
}
.bold-font {
  font-weight: bold;
}
.blue-font{
  color: #2993FF;
}